services:
  fiberspectrograph_red:
    image: ts-dockerhub.lsst.org/fiberspectrograph:${CYCLE}
    container_name: fiberspectrograph_red
    environment:
      - LSST_DDS_PARTITION_PREFIX=tucson
      - LSST_SITE=tucson
      - OSPL_INFOFILE=/tmp/ospl-info-fiberspectrograph2.log
      - OSPL_ERRORFILE=/tmp/ospl-error-fiberspectrograph2.log
      - RUN_ARG=2
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - MYS3_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
      - MYS3_SECRET_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
    volumes:
      - ${OSPL_SHMEM_SOCKET_DIR}:/tmp/
      - ${OSPL_SHMEM_CONFIG}:${OSPL_MOUNT_POINT}
      - /usr/local/lib/libavs.so.0.2.0:/usr/local/lib/libavs.so.0.2.0
    devices:
      - /dev/bus/usb:/dev/bus/usb
    tty: true
    ipc: host
    pid: host
    network_mode: host
    logging:
      driver: json-file
      options:
        max-file: "5"
        max-size: "10m"
