version: "3.6"

# The different daemons are meant for different summit machines:
# ospl-azar1 - azar1.cp.lsst.org (master)
# ospl-azar2 - azar2.cp.lsst.org
# ospl-love01 - love01.cp.lsst.org
# ospl-love02 - love02.cp.lsst.org
# ospl-atkeener - at-keener.cp.lsst.org

services:

  ospl-azar1:
    image: ts-dockerhub.lsst.org/ospl-daemon:${CYCLE}
    container_name: ospl-daemon
    environment:
      - LSST_DDS_PARTITION_PREFIX=summit
      - LSST_DDS_ALIGNEE=Initial
      - LSST_DDS_ALIGNER=true
      - LSST_DDS_RESPONSIVENESS_TIMEOUT=15s
      - OSPL_MASTER_PRIORITY=201
      - OSPL_INFOFILE=/tmp/ospl-info-daemon.log
      - OSPL_ERRORFILE=/tmp/ospl-error-daemon.log
    volumes:
      - ${OSPL_SHMEM_SOCKET_DIR}:/tmp/
      - ${OSPL_SHMEM_DEBUG_CONFIG}:${OSPL_MOUNT_POINT}
    tty: true
    ipc: host
    pid: host
    restart: on-failure
    networks:
      dds-network:
        ipv4_address: "139.229.170.22"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  ospl-azar2:
    image: ts-dockerhub.lsst.org/ospl-daemon:${CYCLE}
    container_name: ospl-daemon
    environment:
      - LSST_DDS_PARTITION_PREFIX=summit
      - LSST_DDS_RESPONSIVENESS_TIMEOUT=15s
      - OSPL_INFOFILE=/tmp/ospl-info-daemon.log
      - OSPL_ERRORFILE=/tmp/ospl-error-daemon.log
    volumes:
      - /deploy-lsstts/docker_tmp/:/tmp/
      - ${OSPL_SHMEM_DEBUG_CONFIG}:${OSPL_MOUNT_POINT}
    tty: true
    ipc: host
    pid: host
    restart: on-failure
    networks:
      dds-network:
        ipv4_address: "139.229.170.24"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  ospl-love01:
    image: ts-dockerhub.lsst.org/ospl-daemon:${CYCLE}
    container_name: ospl-daemon
    environment:
      - LSST_DDS_PARTITION_PREFIX=summit
      - LSST_DDS_RESPONSIVENESS_TIMEOUT=15s
      - OSPL_INFOFILE=/tmp/ospl-info-daemon.log
      - OSPL_ERRORFILE=/tmp/ospl-error-daemon.log
    volumes:
      - ${OSPL_SHMEM_SOCKET_DIR}:/tmp/
      - ${OSPL_SHMEM_DEBUG_CONFIG}:${OSPL_MOUNT_POINT}
    tty: true
    ipc: host
    pid: host
    restart: on-failure
    networks:
      dds-network:
        ipv4_address: "139.229.170.29"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  ospl-love02:
    image: ts-dockerhub.lsst.org/ospl-daemon:${CYCLE}
    container_name: ospl-daemon
    environment:
      - LSST_DDS_PARTITION_PREFIX=summit
      - LSST_DDS_RESPONSIVENESS_TIMEOUT=15s
      - OSPL_INFOFILE=/tmp/ospl-info-daemon.log
      - OSPL_ERRORFILE=/tmp/ospl-error-daemon.log
    volumes:
      - ${OSPL_SHMEM_SOCKET_DIR}:/tmp/
      - ${OSPL_SHMEM_DEBUG_CONFIG}:${OSPL_MOUNT_POINT}
    tty: true
    ipc: host
    pid: host
    restart: on-failure
    networks:
      dds-network:
        ipv4_address: "139.229.170.30"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  ospl-atkeener:
    image: ts-dockerhub.lsst.org/ospl-daemon:${CYCLE}
    container_name: ospl-daemon
    environment:
      - LSST_DDS_PARTITION_PREFIX=summit
      - LSST_DDS_RESPONSIVENESS_TIMEOUT=15s
      - OSPL_INFOFILE=/tmp/ospl-info-daemon.log
      - OSPL_ERRORFILE=/tmp/ospl-error-daemon.log
    volumes:
      - ${OSPL_SHMEM_SOCKET_DIR}:/tmp/
      - ${OSPL_SHMEM_DEBUG_CONFIG}:${OSPL_MOUNT_POINT}
    tty: true
    ipc: host
    pid: host
    restart: on-failure
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

networks:
  default:
    external:
      name: dds-network
  dds-network:
    external: true
